{#
/**
 * @file
 * Theme override for a three-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
{% if content %}
  <div class="container">

    <div class="row">
      {% if content.first %}
        <div class="col-lg">
          {{ content.first }}
        </div>
      {% endif %}

      {% if content.second %}
        <div class="col-lg">
          {{ content.second }}
        </div>
      {% endif %}

      {% if content.third %}
        <div class="col-lg">
          {{ content.third }}
        </div>
      {% endif %}
    </div>

  </div>
{% endif %}
