
{% if links %}
  <ul class="nav">
    {% for item in links %}
      <li class="nav-item">
        <a href="{{ item.url }}" class="nav-link">{{ item.text }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
