{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
    'container',
    'my-6 my-lg-15',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {% embed 'drupalx_theme:gallery-lightbox' with {
        section_title: content.field_title|render,
        intro_text: content.body,
        content: content
      } only %}
      {% block gallery_items %}
        {% for i in content.field_media_item['#items'] %}
          {{ content.field_media_item[loop.index0] }}
        {% endfor %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
</div>
