{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
    'my-6 my-lg-15',
    'container',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {% include 'drupalx_theme:quote' with {
      "quote": {
        "modifier_class": "",
        "logo": content.field_logo|render,
        "quote": content.field_quote|render,
        "image": content.field_thumb|render,
        "name": content.field_author|render,
        "job": content.field_job_title|render,
        "layout": "left",
      }
    } only %}
  {% endblock %}
</div>
