{#
/**
 * @file
 * Theme override for the "card" view mode.
 */
#}

<div class="col-md-6 col-lg-4 mb-2 mb-md-8">
  {%
    include '@drupalx_theme/03 - general/card/card.twig' with {
      "card": {
        "media": content.field_thumbnail,
        "media_link": url,
        "heading": {
          "title": label,
          "heading_level": "3",
          "url": url,
          "modifier": "mb-2"
        },
        "summary_text": content.field_summary|field_value,
        "link": {
          "text": content.field_link[0]['#title'],
          "url": content.field_link[0]['#url']
        },
        "tags": content.field_tags|field_value,
      }
    } only
  %}
</div>
