{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="row">
  {% for row in rows %}
    {{- row.content -}}
  {% endfor %}
</div>
