{#
/**
 * @file
 * Default theme implementation to display the Hero block.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
    'container',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {% include 'drupalx_theme:hero' with {
      media: content.field_media|render,
      title: content.field_heading|field_value,
      body_text: content.field_summary|field_value|default(''),
      layout: content.field_hero_layout['#items'].getString(),
      button: {
        text: content.field_link[0]['#title']|render,
        url: content.field_link[0]['#url']|render,
        modifier: 'btn-primary',
        icon: 'arrow_right_alt',
      },
      button2: {
        text: content.field_link2[0]['#title']|render,
        url: content.field_link2[0]['#url']|render,
        modifier: 'btn-outline-primary',
        icon: 'arrow_right_alt',
      },
    } only %}
  {% endblock %}
</div>
