{#
/**
 * @file
 * Default theme implementation for displaying a single search result coming from Search API page.
 *
 * @ingroup themeable
 */
#}
{{ title_prefix }}
{{ title_suffix }}
{%
  include '@drupalx_theme/search-results/search-results-item.twig' with {
    item: {
      "title": title,
      "image": "",
      "summary": '<p>' ~ snippet|render ~ '</p>',
      "link": url,
    }
  } only
%}
