{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
    'block-views',
    wrapper_class,
    'my-6 my-lg-15',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="container">
    {% block content %}
      {% if content.field_title %}
        {%
          include 'drupalx_theme:heading' with {
            "heading": {
              "title": content.field_title|field_value,
              "heading_level": "2",
              "modifier": "display-4 mb-2 mb-lg-6",
            },
          } only
        %}
      {% endif %}
      {{ content|without('field_title', 'field_link') }}
      {% if content.field_link[0]['#url'] %}
        {% include 'drupalx_theme:button' with {
          "button": {
            "url": content.field_link[0]['#url'],
            "text": content.field_link[0]['#title'],
            "modifier": "btn-primary",
          }
        } only %}
      {% endif %}
    {% endblock %}
  </div>
</div>
