{{ attach_library('drupalx_theme/gallery-lightbox') }}

<div class="{{ modifier }}">
  {% if section_title %}
    {%
      include 'drupalx_theme:heading' with {
        "heading": {
          "title": section_title,
          "heading_level": 2,
          "modifier": "mb-4 text-md-center"
        }
      } only
    %}
  {% endif %}

  <div class="d-flex justify-content-center">
    {% if intro_text %}
      {%
        include 'drupalx_theme:rich-text' with {
          "body_text": intro_text,
          "modifier": "text-md-center pb-3 col-md-8"
        } only
      %}
    {% endif %}
  </div>

  <div class="row">
    {% block gallery_items %}
      {% for item in items %}
        {%
          include 'drupalx_theme:gallery-lightbox' with {
            "media": item.media,
            "media_thumb": item.media_thumb,
            "media_description": item.media_description,
            "id": item.id,
          } only
        %}
      {% endfor %}
    {% endblock %}
  </div>
</div>
