{{ attach_library('drupalx_theme/newsletter-form') }}

<div class="newsletter-form py-5 py-lg-12 {{ modifier }}">
  <div class="row">
    <div class="col-lg-6">
      <h3>Sign up for our newsletter</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="col-lg-6 mt-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's username with two button addons">
        <button class="btn border btn-newsletter bg-dark text-light" type="button">Submit</button>
      </div>
    </div>
  </div>
</div>
