{{ attach_library('drupalx_theme/accordion') }}

<div class="mb-4 {{ modifier }}">

  <div class="accordion">
    {% block accordion_items %}
      {% for item in items %}
        {%
          include 'drupalx_theme:accordion' with { item: item } only
        %}
      {% endfor %}
    {% endblock %}
  </div>
</div>
