<div class="container">
  {% for item in results %}
    {% block search_item %}
      {%
        include '@drupalx_theme/search-results/search-results-item.twig' with {
          item: item
        } only
      %}
    {% endblock %}
  {% endfor %}
</div>
