<div class="container">
  {% for item in items %}
    {% block search_item %}
      {%
        include 'drupalx_theme:search-results' with {
          item: item
        } only
      %}
    {% endblock %}
  {% endfor %}
</div>
