<h3 class="mb-4">Spacing</h3>
<div class="container">
  <div class="row">
    <div class="col-md-1 align-self-end">
      <div class="pb-1 m-2 bg-primary shadow opacity-25"></div>
      <div class="text-center text-dark">1</div>
    </div>
    <div class="col-md-1 align-self-end">
      <div class="pb-2 m-2 bg-primary shadow opacity-25"></div>
      <div class="text-center text-dark">2</div>
    </div>
    <div class="col-md-1 align-self-end">
      <div class="pb-3 m-2 bg-primary shadow opacity-50"></div>
      <div class="text-center text-dark">3</div>
    </div>
    <div class="col-md-1 align-self-end">
      <div class="pb-4 m-2 bg-primary shadow opacity-75"></div>
      <div class="text-center text-dark">4</div>
    </div>
    <div class="col-md-1 align-self-end">
      <div class="pb-5 m-2 bg-primary shadow"></div>
      <div class="text-center text-dark">5</div>
    </div>
  </div>
</div>
