{{ attach_library('drupalx_theme/text-block') }}

{% if body_text %}
  <div class="row">
    <div class="col-lg-10 mx-auto">
      {% if heading %}
        {%
          include 'drupalx_theme:heading' with {
            "heading": heading
          } only
        %}
      {% endif %}
      {%
        include 'drupalx_theme:rich-text' with {
          body_text: body_text,
        } only
      %}
      {% if link.url %}
        <div class="mt-3">
          {% include 'drupalx_theme:button' with {
            "button": {
              "url": link.url,
              "text": link.text ? link.text : 'Read more'|t,
              "icon": '',
              "modifier": 'btn-primary',
            }
          } only %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
