
<div class="stat-item text-center {{ modifier }}">
  <div class="stat-icon mx-auto">
    {{ media }}
  </div>
  {% include 'drupalx_theme:heading' with {
    "heading": {
      title: heading,
      heading_level: 3,
      modifier: ''
    }
  } only %}
  {% if body %}
    <p class="mb-0">
      {{ body }}
    </p>
  {% endif %}
</div>
