
{% if section_title %}
  {%
    include '@drupalx_theme/heading/heading.twig' with {
      "heading": {
        "title": section_title,
        "heading_level": 2,
        "modifier": "card-group-heading mb-4 mb-lg-6 text-center"
      }
    } only
  %}
{% endif %}

<div class="card-group row">
  {% block card_items %}
    {% for item in card_items %}
      <div class="col-sm-6 col-lg-4 mb-4">
        {% if item.card %}
          {%
            include '@drupalx_theme/card/card.twig' with {
              "card": item.card
            } only
          %}
        {% else %}
          {% include '@drupalx_theme/stat/stat.twig' with {
              modifier: item.modifier,
              media: item.media,
              heading: item.heading,
              body: item.body,
            } only
          %}
        {% endif %}
      </div>
    {% endfor %}
  {% endblock %}
</div>
