<div class="form-check form-switch darkmode-switch d-flex align-items-center">
	<input class="form-check-input" type="checkbox" id="darkModeSwitch">
	<label class="form-check-label d-flex align-items-center ms-1" for="darkModeSwitch">Toggle theme
	<span class="material-symbols-outlined ms-1">light_mode</span>
	</label>
</div>
