
<div class="{{ modifier }}">
  <ul class="nav flex-column flex-lg-row">
    {% for item in menu_items %}
      <li class="nav-item"></li>
        <a href="{{ item.url }}" class="nav-link text-decoration-none {{ item_modifier }}">
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
